*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*---features---*/
#features{
  padding-top:50px ;
  padding-bottom:50px ;
}
h4{
  font-size: 20px;
}
.feature-row{
  width:80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}
.feature-col{
  flex-basis: 25%;
  text-align: center;
}
.feature-col img{
  width: 100px;

}
.feature-col h4{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
.feature-btn{
  margin: 80px auto 0;
  display:flex ;
  align-items: flex-end;
  justify-content: center;
}
.feature-btn.line{
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}
.feat-text{
  display: flex;
  justify-content: center;
}
.feature-text{
font-size: 20px;
}



/*---category---*/
#category{
  padding:40px;
}
.cat-text{
  display: flex;
  justify-content: center;
}
.category-text button{
  margin: 30px 0;

  
}

.categories1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories{
  display: flex;
}
.card{
  height: 350px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.cat{
  height: 130px;
  width: 320px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom:-55%;
  background: rgb(27,27,27,.5);
  color: #fff;

}
.cat-btn{
  display: flex;
  justify-content: center;
}
.common-btn{
  height: 10vh;
  width: 20vw;
  background: #20784D;
  outline: none;
  border: none;
  color: #fff;
  
}
@media only screen and (max-width: 768px) {
  /* For screens 768px and below */
  .feature-row {
  flex-direction: column;
  width: 100%;
  }
  .feature-col {
  flex-basis: 100%;
  margin-bottom: 20px;
  }
  .feature-btn {
  margin: 50px auto 0;
  }
  .categories {
  flex-direction: column;
  }
  .card {
  height: 300px;
  margin: 30px;
  }
  .cat {
  display: none;
  }
  }
  .footer{
    padding:10px;
    background-color:hsl(151, 58%, 30%);
    color:#ffffff;
    max-height:150px;
}
.row{
    display: flex;
}
.footer{
    display:flex;
    gap: 5%;
    height: 100vh;

}
ul li{
    list-style: none;
    color:hwb(0 100% 0%);
    
}
.logo{
    width: 60%;
    height: 50px;

}
.trues{
    color: aqua;
}
@media screen and (max-width: 800px) {
        .footer{
            max-height:600px;
            width: 95%;
        }
            .footer{
                flex-direction: column;   
    
            }
            .logo{
                width: 20%;
                height: 70px;
            }

    }
    